.mainBackground{
  /*background-color: #cccccc;*/
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 350px;
  background-position: right;
}
.long{
  width: 100%;
  padding-left: 7%;
}
.spicyText{
  color: white;
  text-shadow: 0px 0px 2px #000000;
}
